@import url('https://fonts.googleapis.com/css?family=Bungee');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Bungee', cursive;
}

.statistic {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 200px;
  border: 2px dashed black;
}

.shuffle-button {
  user-select: none;
  cursor: pointer;
}

.container {
  width: 235px;
  height: 147px;
  margin: 1em auto;
  position: relative;
  /*
  #5ca633
  #87ce54
  #acee72
  */
}

.container::before,
.container::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 3px;
}

.container::before {
  z-index: 1;
  top: 0;
  bottom: 0;
  background: #5ca633;
  -webkit-box-shadow:
    inset 0 5px 0 0 #acee72,
    inset -5px 0 0 0 #acee72,
    inset -7px 0 0 0 #87ce54,
    inset 5px 0 0 0 #acee72,
    inset 7px 0 0 0 #87ce54,
    inset 0 15px 0 0 #87ce54;
          box-shadow:
    inset 0 5px 0 0 #acee72,
    inset -5px 0 0 0 #acee72,
    inset -7px 0 0 0 #87ce54,
    inset 5px 0 0 0 #acee72,
    inset 7px 0 0 0 #87ce54,
    inset 0 15px 0 0 #87ce54;
}

.container::after {
  top: 96%;
  z-index: 7;
  height: 30px;
  border: 1px solid #acee72;
  -webkit-box-shadow:
    inset 0 -25px 0 0 #87ce54,
    inset 0 -30px 0 0 #acee72;
          box-shadow:
    inset 0 -25px 0 0 #87ce54,
    inset 0 -30px 0 0 #acee72;
}

.item {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 30px;
  border-radius: 3px;
  background-color: #f66e92;
  -webkit-box-shadow: 
    1px 0 0 0 #fff,
    0 1px 0 0 #fff,
    0 -1px 0 0 #ca466b,
    2px 0 0 0 #ca466b,
    -2px 0 0 0 #ca466b,
    0 10px 0 2px #ca466b;
          box-shadow: 
    1px 0 0 0 #fff,
    0 1px 0 0 #fff,
    0 -1px 0 0 #ca466b,
    2px 0 0 0 #ca466b,
    -2px 0 0 0 #ca466b,
    0 10px 0 2px #ca466b;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.item.highlighted:hover {
  background-color: #ff80a1;
  cursor: pointer;
}

.item::before {
  color: #f66e92;
  content: attr(data-value);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  text-shadow: 
    -1px 0 0 #ca466b,
    1px 0 0 #fff,
    0 4px 0 #ca466b;
  font-size: 30px;
  pointer-events: none;
}

.item[data-row="1"] {
  z-index: 3;
}

.item[data-row="2"] {
  z-index: 4;
}

.item[data-row="3"] {
  z-index: 5;
}

.item[data-row="0"][data-column="0"] {
  transform: translateX(10px) translateY(7px);
}

.item[data-row="0"][data-column="1"] {
  transform: translateX(65px) translateY(7px);
}

.item[data-row="0"][data-column="2"] {
  transform: translateX(120px) translateY(7px);
}

.item[data-row="0"][data-column="3"] {
  transform: translateX(175px) translateY(7px);
}

.item[data-row="1"][data-column="0"] {
  transform: translateX(10px) translateY(40px);
}

.item[data-row="1"][data-column="1"] {
  transform: translateX(65px) translateY(40px);
}

.item[data-row="1"][data-column="2"] {
  transform: translateX(120px) translateY(40px);
}

.item[data-row="1"][data-column="3"] {
  transform: translateX(175px) translateY(40px);
}

.item[data-row="2"][data-column="0"] {
  transform: translateX(10px) translateY(73px);
}

.item[data-row="2"][data-column="1"] {
  transform: translateX(65px) translateY(73px);
}

.item[data-row="2"][data-column="2"] {
  transform: translateX(120px) translateY(73px);
}

.item[data-row="2"][data-column="3"] {
  transform: translateX(175px) translateY(73px);
}

.item[data-row="3"][data-column="0"] {
  transform: translateX(10px) translateY(106px);
}

.item[data-row="3"][data-column="1"] {
  transform: translateX(65px) translateY(106px);
}

.item[data-row="3"][data-column="2"] {
  transform: translateX(120px) translateY(106px);
}

.item[data-row="3"][data-column="3"] {
  transform: translateX(175px) translateY(106px);
}
