@import url('https://fonts.googleapis.com/css?family=Bungee');

:root {
    /* Colors */
    --container-bg: #5ca633;
    --container-shadow: #87ce54;
    --container-border: #acee72;

    --tile-bg: #f66e92;
    --tile-shadow: #ca466b;
    --tile-border: #fff;
    --tile-hover-bg: #ff80a1;

    --text-color: #fff;
    --text-shadow: #ca466b;

    /* Sizes + Tiles Layout */
    --tile-width: 3.5rem;
    --tile-height: 2.5rem;

    --row-0: translateY(0.4375rem);
    --row-1: translateY(calc(0.4375rem + 2.5rem));
    --row-2: translateY(calc(0.4375rem + 2.5rem * 2));
    --row-3: translateY(calc(0.4375rem + 2.5rem * 3));

    --col-0: translateX(0.625rem); 
    --col-1: translateX(calc(0.625rem + var(--tile-width) + 0.4rem));
    --col-2: translateX(calc(0.625rem + (var(--tile-width) + 0.4rem) * 2));
    --col-3: translateX(calc(0.625rem + (var(--tile-width) + 0.4rem) * 3));
}

html,
body {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.puzzle-container {
    width: calc(16rem + 0.4rem);
    height: calc(10rem + 0.85rem);
    margin: 1em auto;
    position: relative;
}

.puzzle-container::before,
.puzzle-container::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 0.1875rem;
    /* 3px / 16 */
}

.puzzle-container::before {
    z-index: 1;
    top: 0;
    bottom: 0;
    background: #5ca633;
    box-shadow:
        inset 0 0.3125rem 0 0 #acee72,
        /* 5px */
        inset -0.3125rem 0 0 0 #acee72,
        /* 5px */
        inset -0.4375rem 0 0 0 #87ce54,
        /* 7px */
        inset 0.3125rem 0 0 0 #acee72,
        /* 5px */
        inset 0.4375rem 0 0 0 #87ce54,
        /* 7px */
        inset 0 0.9375rem 0 0 #87ce54;
        /* 15px */
}

.puzzle-container::after {
    top: 96%;
    z-index: 7;
    height: 1.875rem;
    /* 30px */
    border: 0.0625rem solid #acee72;
    /* 1px */
    -webkit-box-shadow:
        inset 0 -1.5625rem 0 0 #87ce54,
        /* 25px */
        inset 0 -1.875rem 0 0 #acee72;
    /* 30px */
    box-shadow:
        inset 0 -1.5625rem 0 0 #87ce54,
        /* 25px */
        inset 0 -1.875rem 0 0 #acee72;
    /* 30px */
}

.tile {
    position: absolute;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 3.5rem;
    height: 2.25rem;
    border-radius: 0.1875rem;
    /* 3px */
    background-color: #f66e92;
    /* 10px, 2px */
    box-shadow:
        0.1rem 0 0 0 var(--tile-border),
        0 0.1rem 0 0 var(--tile-border),
        0 -0.1rem 0 0 var(--tile-shadow),
        0.2rem 0 0 0 var(--tile-shadow),
        -0.2rem 0 0 0 var(--tile-shadow),
        0 0.75rem 0 0.15rem var(--tile-shadow);

    /* 10px, 2px */
    transition-property: transform;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    /* will-change: transform; */
}

.tile.highlighted:hover {
    background-color: #020101;
    cursor: pointer;
}

.tile::before {
    color: #f66e92;
    content: attr(data-value);
    -webkit-transform: translateY(-0.1875rem);
    /* 3px */
    transform: translateY(-0.1875rem);
    /* 3px */
    text-shadow:
        -0.0625rem 0 0 #ca466b,
        /* 1px */
        0.0625rem 0 0 #fff,
        /* 1px */
        0 0.25rem 0 #ca466b;
    /* 4px */
    font-size: 1.875rem;
    /* 30px */
    pointer-events: none;
}

.tile[data-row="1"] {
    z-index: 3;
}

.tile[data-row="2"] {
    z-index: 4;
}

.tile[data-row="3"] {
    z-index: 5;
}

.tile[data-row="0"][data-column="0"] {
    transform: var(--col-0) var(--row-0);
}

.tile[data-row="0"][data-column="1"] {
    transform: var(--col-1) var(--row-0);
}

.tile[data-row="0"][data-column="2"] {
    transform: var(--col-2) var(--row-0);
}

.tile[data-row="0"][data-column="3"] {
    transform: var(--col-3) var(--row-0);
}

.tile[data-row="1"][data-column="0"] {
    transform: var(--col-0) var(--row-1);
}

.tile[data-row="1"][data-column="1"] {
    transform: var(--col-1) var(--row-1);
}

.tile[data-row="1"][data-column="2"] {
    transform: var(--col-2) var(--row-1);
}

.tile[data-row="1"][data-column="3"] {
    transform: var(--col-3) var(--row-1);
}

.tile[data-row="2"][data-column="0"] {
    transform: var(--col-0) var(--row-2);
}

.tile[data-row="2"][data-column="1"] {
    transform: var(--col-1) var(--row-2);
}

.tile[data-row="2"][data-column="2"] {
    transform: var(--col-2) var(--row-2);
}

.tile[data-row="2"][data-column="3"] {
    transform: var(--col-3) var(--row-2);
}

.tile[data-row="3"][data-column="0"] {
    transform: var(--col-0) var(--row-3);
}

.tile[data-row="3"][data-column="1"] {
    transform: var(--col-1) var(--row-3);
}

.tile[data-row="3"][data-column="2"] {
    transform: var(--col-2) var(--row-3);
}

.tile[data-row="3"][data-column="3"] {
    transform: var(--col-3) var(--row-3);
}